.LandingPageHeaderContainer{
  padding-bottom: 20px;
  background-color: rgb(255, 230, 0) !important;
}
.colTestSides{
    background-color: rgb(0, 255, 38);
  }
  .colHeaderText{
    background-color: rgb(0, 251, 255);
  }
  .colLoginSignup{
    background-color: rgb(255, 0, 115);
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .colTestRight{
    background-color: rgb(255, 242, 0);
  }
  .loginBtn{
    background-color: rgb(67, 130, 255); 
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    padding-right: 0 !important;
    width: 100%;
    border-color: rgb(23, 105, 228) !important;
    border-width: 5px;
    border: solid;
  }
  .signupBtn{
    background-color: rgb(67, 180, 255); 
    width: 100%;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    padding-left: 0 !important;
    border-color: rgb(23, 105, 228) !important;
    border-width: 5px;
    border: solid;
  }