.LandingPageHeaderContainer{
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center ;
  box-shadow: 2px 2px 2px rgb(255, 255, 255);
  background-repeat: no-repeat !important;
  background-size:cover;
}
  .colHeaderText{
    background-color: rgb(255, 255, 255); 
    border-bottom-right-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    padding-right: 0 !important;
    border-color: rgb(0, 0, 0) !important;
    width: 100%;
    border: solid;
    font-family:'Arial';
    font-size:50px;
  }
  .colHeaderText > p{
    color: rgb(0, 0, 0) !important;
  }
  .colLoginSignup{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .colTestRight{
    background-color: rgb(255, 255, 255);
  }

