.colTestSides{
    background-color: rgb(103, 131, 150);
    background: linear-gradient(to top, rgb(103, 131, 150), rgb(67, 95, 114)) !important;

  }

  .colTestMid{
    background-color: rgb(0, 0, 0);
  }
  .gameRow{
    border-width: 4px;
    border: solid;
    border-color: rgb(67, 95, 114) !important;
    color: rgb(255, 255, 255);
    background-color:rgb(103, 131, 150);
    background: linear-gradient( rgb(103, 131, 150), rgb(67, 95, 114)) !important;   
  }
  
  .gameTitle{
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(255, 255, 255);
    font-family: Arial;
    text-align: center;  
  }

  .GameList {
    border: 2px solid  rgb(103, 131, 150) !important;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 8px;
    border-bottom-width: 8px;
    padding-left: 0%;
    padding-right: 0%;
    border-radius: 4px !important;
    
  }
  .gameRowBox{
    margin-top: 0vh;
    margin-bottom: 2,5vh;
    
  }

  