  
  .scroller {
    width: 100%;
    height:40vh;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    word-wrap: break-word!important;
    white-space: pre-wrap;
  }
  .GameCol{
    
  }
  .chatToggleBtn{
    width: 100%;
    
    border-radius: 3px;
    border-color: rgb(130, 130, 130);
    border-width: 4px;
    box-shadow: 0px 2px 2px 2px #292929;
    
  }
  .chatToggleBtn:hover{
    width: 100%;
    background-color: rgb(62, 62, 62) !important;
    border-radius: 3px;
    border-color: rgb(130, 130, 130);
    border-width: 4px;
    box-shadow: 0px 2px 2px 2px #292929;
    
  }
  .ToggleChatContainer{
    margin-top: -1px;
    height:50vh;
    width: 100%;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-width: 4px;
    border-top-width: 0px;
    border-color: rgb(130, 130, 130);
  }
  .ChatBtnText > span{
    text-align: center !important;
    align-content: center !important;
    color: white;
  }
  .ChatContainer{
    
    
  }
  .ChatComponentContainer{
    margin-top: 2vh;
    margin-bottom: 2vh;
    box-shadow: 0px 2px 2px 2px rgba(43, 64, 82, 0.3);
    backdrop-filter: blur(2px);
    
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 4px !important;
    background-color: rgba(119, 119, 119, 0.8);
  }
  
  .breakWord{
    word-wrap: break-word !important;
  }
  .myMessageP{
    background-color: rgb(12, 105, 227)!important;
    word-break: break-all;
    color: white;
    font-weight: 600;
  }
  .theirMessageP{
    background-color: rgb(112, 112, 112)!important;
    word-break: break-all;
    color: white;
    font-weight: 600;
  }
  .sendMessageBtn{
    color: white;
    font-weight: 600;
    background-color: rgb(55, 55, 55);
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .sendMessageBtn:hover{
    background-color: rgb(155, 155, 155);
  }
  .localBtn{
    border-color: gray;
    background-color: rgb(64, 82, 102);
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .squadBtn{
    border-color: gray;
    background-color: rgb(102, 93, 64);
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .globalBtn{
    border-color: gray;
    background-color: rgb(102, 64, 64);
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .chatCategoryCol{
    padding-left: 0px;
    padding-right: 0px;
  }
  .chatCategoryRow{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
  }
  