@font-face {
  font-family: 'FiraSans';
  src: url('/public/Fonts/Fira_Sans/FiraSans-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
.colTestSides{
    background-color: rgb(0, 238, 255);
  }
  .colTestMid{
    background-color: rgb(255, 128, 198);
  }
  .missionBtn{
    background-color: red;
    width: 400px;
    height: 400px;
    padding: 500px;
  }
  .gameRow{
    border-width: 4px;
    border: solid;
    border-color: rgb(129, 129, 129);
    color: white;
    background-color: rgb(41, 41, 41);
  }
  .graveStone {
    font-size: 3vh;
    text-align: center;
    vertical-align: middle;
    transform: translate(-50%, -50%);
    transform-origin: center;
  }
  .gameTitle{
    
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    
    text-overflow: ellipsis;
  }
  
  .missionTitle{
    text-transform: uppercase !important;
    font-size: 2.7vh;
    text-align: center;
    font-weight: 400;
    font-family: FiraSans;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    margin-left: -50%;
    -webkit-text-stroke: 1.1px rgb(41, 41, 41);
    
  }
  .safeZoneTitle{
    text-transform: uppercase !important;
    font-size: 2.7vh;
    text-align: center;
    font-weight: 400;
    font-family: FiraSans;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    margin-left: -50%;
    -webkit-text-stroke: 1.1px rgb(41, 41, 41);
    color: rgb(0, 102, 255);
  }
  
  .mapCol{
    padding: 5px;
    box-shadow: 0px 2px 2px 2px rgba(43, 64, 82, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 1vh;
    background-color: rgba(119, 119, 119, 0.8);
  }
  .mapImg{
    max-width: 100%;
    height: auto;
  }
  .mapContainer{
    width: 100%;
    height: 75vh;
  }
  .deadStoryP{
    padding-top: -4vh;
    font-weight: 500;
    width: 15vh;
    height: 15vh;
    font-family: FiraSans;
    text-overflow: ellipsis;
  }